<div id="config-overlay" class="overlay device config">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 offset-md-2 pt-5">
                <div class="card">

                    <div class="text-right" onclick="hideOverlay()" style="font-size: 20px; cursor: pointer; color: white">
                        <icon class="tim-icons icon-simple-remove"></icon>
                    </div>

                    <div class="card-header text-center py-4">
                        <h4 class="title">Config WiFi</h4>
                    </div>

                    <form role="form" method="post" action="">
                        <input type="hidden" name="csrfmiddlewaretoken" value="KprMSVvkMIcXMeaNzYVnU52aujIurGmYIml7mj1b6WZswzzhMSytrs0nyguGRywv">
                        <div class="card-body px-5 py-3">
                            <!--<div class="row">
                                <div class="col-md-12 px-md-1">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username" placeholder="Username" class="form-control" value="test" required="" id="id_username">
                                    </div>
                                </div>

                                <div class="col-md-12 px-md-1">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" placeholder="Password" class="form-control" value="ApS12_ZZs8" required="" id="id_password">
                                    </div>
                                </div>
                            </div>
                        </div>-->

                          <!-- Buttons -->
                          <div class="row">
                            <div class="col-md-12 text-center">

                                <div class="btn btn-sm btn-primary">
                                  <a href="external/switch_on/{{device.device_id}}" style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                                    <span>Switch On</span>
                                  </a>
                                </div>
                                <div class="btn btn-sm btn-primary">
                                  <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                                    <span>Switch Off</span>
                                  </a>
                                </div>

                                <div class="btn btn-sm btn-primary">
                                  <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                                    <span>SET IP</span>
                                  </a>
                                </div>
                                <div class="btn btn-sm btn-primary">
                                  <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                                    <span>Create WiFi</span>
                                  </a>
                                </div>

                                <div class="btn btn-sm btn-primary">
                                  <a style="width: 200px; height: 25px" type="button" class="btn btn-link btn-icon">
                                    <span>KILL NETWORK</span>
                                  </a>
                                </div>

                            </div>
                          </div> <!-- end of Buttons -->

                      </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<style>
    .overlay.device {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        background-color: #000;
        /*opacity: 0.8;*/
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    .overlay.device .container .card {
        opacity: 1;
        z-index: 11;
    }
</style>