{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <!-- Simple Table -->
      <div class="col-md-12">
        <div class="card">

          <div class="card-header">
            <h4 class="card-title"> Details for <b>{{device.name}}</b></h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>MAC Address</th>
                    <th>Type</th>
                    <th>Created</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{device.name}}</td>
                    <td>{{device.ip}}</td>
                    <td>{{device.mac_address}}</td>
                    <td>{{device.type}}</td>
                    <td>{{device.created_at}}</td>
                    {% if device.status %}
                      <td> <icon class="tim-icons icon-check-2"></icon></td>
                      {% else  %}
                      <td> <icon class="tim-icons icon-simple-remove"></icon></td>
                    {% endif  %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end of card-body -->

    <!-- Buttons -->
<!--    <div class="row">-->
      <!--<div class="dropdown">
        <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
          <i class="tim-icons icon-settings-gear-63"></i>
        </button>
      </div>-->

      <!-- Buttons -->
      <div class="row">
        <div class="col-md-6">
          <div style="text-align: left">
            <div class="btn btn-sm btn-primary" onclick="showConfig()">
              <icon class="tim-icons icon-settings-gear-63"></icon>
              <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>CONFIG</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div style="text-align: right">
            <div class="btn btn-sm btn-primary" onclick="showEdit()">
              <i class="tim-icons icon-pencil"></i>
              <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>EDIT</span>
              </button>
            </div>
            <!--<div class="btn btn-sm btn-primary active">
              <i class="tim-icons icon-check-2"></i>
              <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>SAVE</span>
              </button>
            </div>-->
            <div class="btn btn-sm btn-primary">
              <i class="tim-icons icon-trash-simple"></i>
              <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>DELETE</span>
              </button>
            </div>
          </div>
        </div>
      </div>
<!--    </div> &lt;!&ndash; end of row &ndash;&gt;-->

        </div>
      </div>
    </div> <!-- end of row -->

    {% include 'home/device/config.html' %}
    {% include 'home/device/edit.html' %}

    <!-- Commands -->
    <div class="row">

      <!-- Create Wifi -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">WiFi Settings</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="create_wifi_device">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>WiFi SSID</label>
                      <input type="text" id="wifi_name" name="wifi_name" class="form-control" value="{{device.wifi_ssid}}" >
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>WiFi Password</label>
                      <input type="password" id="wifi_password" name="wifi_password" class="form-control" >
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="create_wifi_api({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>SAVE</span>
                </a>
              </div>
            </div>
          </div>

        </div>

        <!-- Switch On/Off -->
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Switch settings</h4>
          </div>
          <div class="card-body text-center">
            <div class="btn btn-sm btn-primary" onclick="switch_toggle_api({{device.device_id}}, 'on')">
              <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon"> <!-- external/switch_on/{{device.device_id}} -->
                <span>Switch On</span>
              </a>
            </div>
            <div class="btn btn-sm btn-primary" onclick="switch_toggle_api({{device.device_id}}, 'off')">
              <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>Switch Off</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Kill Network -->
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Network</h4>
          </div>
          <div class="card-body text-center">
            <div class="btn btn-sm btn-primary" onclick="kill_network_api({{device.device_id}})">
              <a style="width: 200px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>KILL NETWORK</span>
              </a>
            </div>
          </div>
        </div>

      </div> <!-- end of left -->


      <!-- Set IP -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Set IP</h4>
          </div>

          <div class="card-body">
            <form role="form" method="post" action="">
              <div class="col-12">
                  <div class="form-group">
                      <label>IP</label>
                      <input type="text" id="config_ip" name="config_ip" class="form-control" placeholder="192.168.254.1">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Subnet</label>
                      <input type="text" id="config_subnet" name="config_subnet" class="form-control" placeholder="192.168.254.0">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Range 1</label>
                      <input type="text" id="config_range1" name="config_range1" class="form-control" placeholder="192.168.254.20">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Range 2</label>
                      <input type="text" id="config_range2" name="config_range2" class="form-control" placeholder="192.168.254.90">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>DNS</label>
                      <input type="text" id="config_dns" name="config_dns" class="form-control" placeholder="8.8.8.8">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Route</label>
                      <input type="text" id="config_route" name="config_route" class="form-control" placeholder="192.168.1.68">
                  </div>
              </div>
            </form>

            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>SET IP</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Graphs -->
    <div class="row">
      <!-- Performance (Big line graph) -->
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <!-- <h5 class="card-category">Total Shipments</h5> -->
                <h2 class="card-title">Performance</h2>
              </div>

              <!-- Buttons (change dataset) -->
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>

            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of row -->

    <!-- Total Shipments (line graph) -->
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Shipments</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- Daily Sales (bar graph) -->
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Daily Sales</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="CountryChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- Completed Tasks (line graph) -->
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Completed Tasks</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLineGreen"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Charts -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Bit rate</h5>
            <h3 class="card-title"><i class="tim-icons icon-wifi text-primary"></i> Wi-Fi</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="lineChartExample"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Other commands (QoS + Firewall) -->
    <div class="row">

      <!-- Quality of Service -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">QoS Rules</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="qos_rules">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>Rule Name</label>
                      <input type="text" id="qos_name" name="qos_name" class="form-control" value="1:20">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>qos_max_speed</label>
                      <input type="text" id="qos_max_speed" name="qos_max_speed" class="form-control" value="2">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>qos_normal_speed</label>
                      <input type="text" id="qos_normal_speed" name="qos_normal_speed" class="form-control" value="5">
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="create_wifi_api({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>SAVE</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">QoS Filters</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="qos_filters">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>IP</label>
                      <input type="text" id="qos_ip" name="qos_ip" class="form-control" value="{{device.ip}}">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Rule Name</label>
                      <input type="text" id="qos_rule" name="qos_rule" class="form-control" value="1:20">
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="create_wifi_api({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>SAVE</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Firewall -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Firewall Rules</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="firewall">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>Firewall Type</label>
                      <input type="text" id="firewall_type" name="firewall_type" class="form-control" value="port">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>firewall_port</label>
                      <input type="text" id="firewall_port" name="firewall_port" class="form-control" value="80">
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="create_wifi_api({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>SAVE</span>
                </a>
              </div>
            </div>
          </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function() {
    //getDataGraph();
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

    var data =[80, 100, 70, 80, 120, 80]
    createChart(document.getElementById('lineChartExample'), data);
  });

  function showConfig() {
    document.getElementById("config-overlay").style.display = "block";
  }
  function showEdit() {
    document.getElementById("edit-overlay").style.display = "block";
  }

  function hideOverlay() {
    document.getElementById("config-overlay").style.display = "none";
    document.getElementById("edit-overlay").style.display = "none";
  }
</script>
{% endblock javascripts %}
