{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <!-- Simple Table -->
      <div class="col-md-12">
        <div class="card">

          <div class="card-header">
            <h4 class="card-title"> Details for <b>{{device.name}}</b></h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="device_table">
                <thead class=" text-primary">
                  <tr>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>MAC Address</th>
                    <th>Type</th>
                    <th>Created</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{device.name}}</td>
                    <td>{{device.ip}}</td>
                    <td>{{device.mac_address}}</td>
                    <td>{{device.type}}</td>
                    <td>{{device.created_at}}</td>
                    {% if device.status %}
                      <td> <icon class="tim-icons icon-check-2"></icon></td>
                      {% else  %}
                      <td> <icon class="tim-icons icon-simple-remove"></icon></td>
                    {% endif  %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end of card-body -->

          <!-- Buttons -->
          <div class="row">
            <div class="col-md-6">
              <div style="text-align: left">
                <div class="btn btn-sm btn-primary" onclick="showConfig()">
                  <icon class="tim-icons icon-settings-gear-63"></icon>
                  <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                    <span>CONFIG</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div style="text-align: right">
                <div class="btn btn-sm btn-primary" onclick="showEdit()">
                  <i class="tim-icons icon-pencil"></i>
                  <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                    <span>EDIT</span>
                  </button>
                </div>
                <!--<div class="btn btn-sm btn-primary active">
                  <i class="tim-icons icon-check-2"></i>
                  <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                    <span>SAVE</span>
                  </button>
                </div>-->
                <div class="btn btn-sm btn-primary">
                  <i class="tim-icons icon-trash-simple"></i>
                  <button style="width: 80px; height: 25px" type="button" class="btn btn-link btn-icon">
                    <span>DELETE</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- end of row -->

    {% include 'home/device/config.html' %}
    {% include 'home/device/edit.html' %}


    <!-- Graphs / Charts -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Performance [Bit rate]</h5>
            <h3 class="card-title"><i class="tim-icons icon-wifi text-primary"></i> Wi-Fi</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="lineChartExample"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Commands -->
    <div class="row">

      <!-- Create Wifi -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">WiFi Settings</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="create_wifi_device">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>WiFi SSID</label>
                      <input type="text" id="wifi_name" name="wifi_name" class="form-control" value="{{device.wifi_ssid}}" >
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>WiFi Password</label>
                      <input type="password" id="wifi_password" name="wifi_password" class="form-control" >
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="create_wifi_api({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>SAVE</span>
                </a>
              </div>
            </div>
          </div>

        </div>

        <!-- Switch On/Off -->
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Switch settings</h4>
          </div>
          <div class="card-body text-center">
            <div class="btn btn-sm btn-primary" onclick="switch_toggle_api({{device.device_id}}, 'on')">
              <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon"> <!-- external/switch_on/{{device.device_id}} -->
                <span>Switch On</span>
              </a>
            </div>
            <div class="btn btn-sm btn-primary" onclick="switch_toggle_api({{device.device_id}}, 'off')">
              <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>Switch Off</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Kill Network -->
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Network</h4>
          </div>
          <div class="card-body text-center">
            <div class="btn btn-sm btn-primary" onclick="kill_network_api({{device.device_id}})">
              <a style="width: 200px; height: 25px" type="button" class="btn btn-link btn-icon">
                <span>KILL NETWORK</span>
              </a>
            </div>
          </div>
        </div>

      </div> <!-- end of left -->


      <!-- Set IP -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Set IP</h4>
          </div>

          <div class="card-body">
            <form role="form" method="post" action="" id="set_ip_wifi">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>IP</label>
                      <input type="text" id="config_ip" name="config_ip" class="form-control" placeholder="192.168.254.1" value="192.168.201.1">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Subnet</label>
                      <input type="text" id="config_subnet" name="config_subnet" class="form-control" placeholder="192.168.254.0" value="192.168.201.0">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Range 1</label>
                      <input type="text" id="config_range1" name="config_range1" class="form-control" placeholder="192.168.254.20" value="192.168.201.20">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Range 2</label>
                      <input type="text" id="config_range2" name="config_range2" class="form-control" placeholder="192.168.254.90" value="192.168.201.90">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>DNS</label>
                      <input type="text" id="config_dns" name="config_dns" class="form-control" placeholder="8.8.8.8" value="8.8.8.8">
                  </div>
              </div>
              <!--<div class="col-12">
                  <div class="form-group">
                      <label>Route</label>
                      <input type="text" id="config_route" name="config_route" class="form-control" placeholder="192.168.1.68">
                  </div>
              </div>-->
            </form>

            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="set_ip_wifi_api({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>SET IP</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>


    <!-- Quality of Service -->
    <!-- Rules Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Quality of Service</h3>
            <h4 class="card-title">Rules for <b>{{device.ip}}</b></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="qos_rules_table">
                <thead class=" text-primary">
                  <tr>
                    <th>Device</th>
                    <th>Rule Name</th>
                    <th>Max Speed</th>
                    <th>Normal Speed</th>
                    <th>Filter IP</th>
                    <th>Rule Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for rule in qos_rules %}
                  <tr>
                    <td>{{rule.device.name}}</td>
                    <td id="qos_list_name">{{rule.rule_name}}</td>
                    <td>{{rule.max_speed}}</td>
                    <td>{{rule.normal_speed}}</td>
                    <td>{{rule.device.ip}}</td><!-- <td>{{qos_filters.ip}}</td>-->
                    <td>{{rule.created_at}}</td>
                    <td onclick="remove_rule_qos({{device.device_id}},{{rule.id}},'{{rule.rule_name}}')" style="cursor: pointer;"><icon class="tim-icons icon-trash-simple"></icon></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of row -->

    <!-- Other commands (QoS + Firewall) -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">QoS Rules</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="qos_rules">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>Rule Name</label>
                      <input type="text" id="qos_name" name="qos_name" class="form-control" value="1:20">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>QoS Max Speed</label>
                      <input type="text" id="qos_max_speed" name="qos_max_speed" class="form-control" value="2">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>QoS Normal Speed</label>
                      <input type="text" id="qos_normal_speed" name="qos_normal_speed" class="form-control" value="5">
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="add_rule_qos({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>ADD RULE</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">QoS Filters</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="qos_filters">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>IP</label>
                      <input type="text" id="qos_ip" name="qos_ip" class="form-control" value="{{device.ip}}">
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Rule Name</label>
                      <input type="text" id="qos_rule" name="qos_rule" class="form-control" value="1:20">
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="add_filter_qos({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>ADD FILTER</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Firewall -->
    <!-- Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Firewall</h3>
            <h4 class="card-title">Rules for <b>{{device.ip}}</b></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="firewall_rules_table">
                <thead class=" text-primary">
                  <tr>
                    <th>Device</th>
                    <th>Type</th>
                    <th>Deny</th>
                  </tr>
                </thead>
                <tbody>
                  {% for rule in firewall_rules %}
                  <tr>
                    <td>{{rule.device.name}}</td>
                    <td>{{rule.type}}</td>
                    <td>{{rule.port}}</td>
                    <td>{{rule.created_at}}</td>
                    <td onclick="remove_rule_firewall({{device.device_id}},{{rule.type}},'{{rule.port}}')" style="cursor: pointer;"><icon class="tim-icons icon-trash-simple"></icon></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of row -->

    <!-- Create Rule Firewall -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Firewall Rules</h4>
          </div>
          <div class="card-body">
            <form role="form" method="post" action="" id="firewall">
              {% csrf_token %}
              <div class="col-12">
                  <div class="form-group">
                      <label>Firewall Type</label>
                      <!-- <input type="text" id="firewall_type" name="firewall_type" class="form-control" value="port">-->
                      <select id="firewall_type" name="firewall_type" class="form-control">
                        <option value="port" style="background-color: #27293d;">Port</option>
                        <option value="ip" style="background-color: #27293d;">IP</option>
                      </select>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <label>Firewall Port/IP</label>
                      <input type="text" id="firewall_port" name="firewall_port" class="form-control" value="80">
                  </div>
              </div>
            </form>
            <div class="col-12 text-center">
              <div class="btn btn-sm btn-primary" onclick="add_rule_firewall({{device.device_id}})">
                <a style="width: 100px; height: 25px" type="button" class="btn btn-link btn-icon">
                  <span>ADD RULE</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function() {
    //getDataGraph();
    // Javascript method's body can be found in assets/js/demos.js
    //demo.initDashboardPageCharts();
    //var graph_data = [80, 100, 70, 80, 120, 80];

    getDataGraph({{ device.device_id }}); // First load of the page, then timer

    window.setInterval( function() {
      getDataGraph({{ device.device_id }});
    }, 10000); // 10 secs
  });

  function showConfig() {
    document.getElementById("config-overlay").style.display = "block";
  }
  function showEdit() {
    document.getElementById("edit-overlay").style.display = "block";
  }

  function hideOverlay() {
    document.getElementById("config-overlay").style.display = "none";
    document.getElementById("edit-overlay").style.display = "none";
  }
</script>
{% endblock javascripts %}
