{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Graphs -->
    <div class="row">
      <!-- Total Shipments (line graph) -->
      {% for device in devices %}
      <div class="col-lg-4">
        <div class="card card-chart device-card" id="device-{{device.device_id}}" device="{{device.device_id}}">
          <div class="card-header">
            <h3 class="card-category">{{ device.name }} ({{ device.mac_address }})</h3>

            <div class="row">
              <div class="col-lg-6">
                <h4 class="card-title"><i class="tim-icons icon-wifi text-primary"></i> <span id="device_ssid">{{ device.wifi_ssid }}</span></h4>
              </div>
              <div class="col-lg-6">
                <h4 class="card-title text-right">{{ device.ip }}</h4>
              </div>
            </div>
<!--            {% if device.status %}-->
<!--            <div><span>Ativo</span></div>-->
<!--            {% else  %}-->
<!--            <div><span>Inativo</span></div>-->
<!--            {% endif  %}-->
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-lg-6">
                <div class="card-img">
                  <img src="/static/assets/img/rpi01.png" style="width: 200px"/>
                </div>
              </div>
              <div class="col-lg-6" style="list-style-type:none">
                <li><b>Estado:</b> <span class="status-word" style="font-weight: 400">-</span></li>
                <li><b>Temperatura:</b> <span id="device_temp">-</span> ºC</li>
                <li><b>CPU:</b> <span id="device_cpu">-</span> %</li>
                <li><b>Memória:</b> <span id="device_mem">-</span> Mb</li>
              </div>
            </div>
            <!-- <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div> -->
          </div>

          <div class="card-details">
            <div class="btn-group btn-group-toggle float-right">
              <a href="/devices/{{ device.device_id }}">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Ver detalhes</span>
                </label>
              </a>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>

<!--      <div style="text-align: right">-->
        {% if user.is_superuser %}
        <a href="new">
          <div class="btn btn-sm btn-primary col-lg-12">
            <i class="tim-icons icon-simple-add"></i>
            <div style="width: 150px; height: 25px" class="btn btn-link btn-icon">
              <span>NEW DEVICE</span>
            </div>
          </div>
        </a>
        {% endif %}
<!--      </div>-->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function() {
    getInfo(); // First load of the page, then timer

    window.setInterval( function() {
      getInfo();
    }, 10000); // 10 secs
  });
</script>
{% endblock javascripts %}

<style>
  .card-img {
    padding: 15px;
  }
  .card-details {
    padding: 0 15px 15px 0;
  }
</style>
